/* Fond de la page */
.pageBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width: 100vw;
    height: 100vh;
    font-family: 'Reddit mono', sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

/* Conteneur principal */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuTitle {
    color: white;
    padding: 8px;
}

.buttons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 2em;
    left: 2em;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 8px;
    border-radius: 32px;
    z-index: 5;
}

.secondaryButtons {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 8em;
    left: 2em;
    padding: 8px;
    border-radius: 24px;
    z-index: 5;
    background: rgba(236, 243, 233, 0.08);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.tertiaryButtons {
    display: flex;
    width: auto;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 8em;
    left: 10em;
    padding: 8px;
    border-radius: 24px;
    z-index: 10;
    background: rgba(236, 243, 233, 0.08);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}



.button {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 8px;
    border-radius: 16px;
    font-size: 16px;
    z-index: 4;
    width: auto;
    /* Réglez la largeur sur auto ou une valeur appropriée */
}

.secondaryButton {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 8px;
    border-radius: 16px;
    font-size: 16px;
    z-index: 4;
    bottom: 2em;
    width: 100%;
    /* Réglez la largeur sur auto ou une valeur appropriée */
}

.focusButton {
    display: flex;
    position: absolute;
    top: 2em;
    right: 2em;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 8px;
    border-radius: 32px;
    z-index: 5;
}

.button:hover,
.secondaryButton:hover {
    display: flex;
    background: lightgrey;
    opacity: 0.5;
    color: black;
    cursor: pointer;
}


.rightContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    right: 2em;
    top: 8em;
}