/* Fond de la page */
.pageBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width: 100vw;
    height: 100vh;
    font-family: 'Reddit mono', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
}

/* Conteneur principal */
.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2vh;
    left: 2vw;
    gap: 16px;
    z-index: 999;
    overflow: auto;
    height: 92vh;
}

.menuTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.secondaryButtons {
    padding: 8px;
    width: 12em;
    border-radius: 24px;
    background: rgba(236, 243, 233, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: height 0.3s ease;
    z-index: 300;
}

.secondaryButton {
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 16px;
    width: 100%;
    cursor: pointer;
    animation: slideDown 0.75s ease-out forwards;
    z-index: 300;
    font-size: 12px;
}



.secondaryButtons :hover>:not(:hover) {
    background-color: none;
    color: none;
    opacity: 0.3;
}



/* .button:hover,
.secondaryButton:hover {
    display: flex;
    background: lightgrey;
    opacity: 0.5;
    color: black;
    cursor: pointer;
}

*/

.rightContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    right: 2vh;
    top: 2vh;
}

.asteroids {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 100%;
    height: 100%;
}