.container {
    background: rgba(236, 243, 233, 0.08);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 999;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
    opacity: 1;
    border-radius: 16px;
    padding: 8px;
    background: rgba(236, 243, 233, 0.08);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content:hover>:not(:hover) {
    opacity: 0.5;
}

.element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: opacity 0.3s ease;

}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(236, 243, 233, 0.08);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
        cursor: help;
}