.page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: absolute;


}

.containerImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100vh;
    z-index: 1;
}

.image {
    object-fit: cover;
    border-radius: 50%;
}