 
.button {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 8px;
    border-radius: 16px;
    font-size: 16px;
    z-index: 4;
    bottom: 2em;
}

.button:hover {
    background: lightgrey;
    opacity: 0.5;
    color: black;
    cursor: pointer;
}
 